body {
   margin:0;
   padding:0;
   font-family:helvetica, sans-serif;
}
h1 {
   text-align: center;
   color:blue;

}
.container { 
   width: 100%;
   min-height: 100%;
}
main {
   color: #333;
   width: 95%;
   max-height: 100%;
   min-height: 420px;
   padding-top: 5rem;
   padding: auto;
   margin: 0 auto;
} 
.head {
   text-align: center;
   color:blue;

}